#fullCam {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  position: absolute;
  width: 1920px;
  height: 1080px;

  #background {
    position: absolute;
    width: 1920px;
    height: 1080px;
    background-image: url('./fullCam-background.png')
  }

  #components-wrapper {
    position: absolute;
    width: 1872px;
    height: 952px;
    top: 24px;
    left: 24px;
    padding: 24px;
    box-sizing: border-box;
  }
}
