.componentsWrapper {
  position: absolute;
  width: 1920px;
  height: 80px;
  bottom: 0;
  display: flex;
  padding: 24px;
  padding-top: 28px;
  padding-right: 89px;
  padding-left: 319px;
  justify-content: space-between;
  align-items: center;
}

#currentSong {
  opacity: 0;
}
