@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400");

#omnibar {
  width: 1920px;
  height: 1080px;
  position: absolute;

  .background {
    background: url("./omnibar-background.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
  }
}
