/* All html objects will be wrapped in the #wrap div */
#wrap {
  position: absolute;
  left: 16px;
  top: 16px;
  right: 16px;
}

.goal-cont {
  color: white;
  background: #929FB1;
  padding: 24px;
  padding-bottom: 40px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px rgba(146, 159, 177, 0.5);
}

#title {
  color: rgba(64, 75, 90, 0.8);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-bottom: 16px;
}

#goal-current::before {
  content: '€';
}

#goal-bar {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-stretch: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin-bottom: 16px;
  color: #F8F9FA;
}

#goal-total {
  color: rgba(64, 75, 90, 0.8);
}

#progress-wrapper {
  position: relative;
  width: 100%;
  top: 40px;
}

#progress-bar {
  width: 1%;
  height: 8px;
  background: #0087E8;
  border-radius: 4px;
  position: relative;
  z-index: 3;

}

#progress-bar2 {
  width: 100%;
  height: 8px;
  background: #F8F9FA;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 0;
}

#progress-number-wrapper {
  min-width: 64px;
  box-sizing: border-box;
  display: block;
  position: relative;
  top: -40px;
}

#progress-number-wrapper * {
  box-sizing: border-box;
}

#progress-number-mark {
  margin-bottom: 4px;
  border-radius: 4px;
  background: #0087E8;
  padding: 4px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}

#progress-number-wrapper,
#progress-number-mark {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  height: 28px;
  letter-spacing: 0px;
  text-transform: none;
  color: #ffffff;
}

#down-arrow {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0087E8;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
